/* --- CSS RESET --- */
 {
    padding: 0;
    margin: 0;
}

:focus {outline: 0;}

body{
background-color: #B8860B;
font-size: 16px;
font-family: Verdana, serif;
color: #5E5E5E;
}

.frame{
margin: auto;
}

.striche{
height: 620px;
margin-left: 80px;
margin-top: auto;
margin-bottom: auto;
}

#navi{
display: block;
list-style-type: none;
width: auto;
}

.navi a{
width: auto;
text-decoration: none;
text-transform:capitalize;
}
