/* --- CSS RESET --- */
 {
    padding: 0;
    margin: 0;
}

:focus {outline: 0;}

body{
background-color: #B8860B;
font-size: 16px;
font-family: Verdana, serif;
color: #5E5E5E;
}

.frame{
margin: auto;
width: 100%
}

.striche{
height: 620px;
margin-left: 80px;
margin-top: auto;
margin-bottom: auto;
}

#navi{
display: block;
list-style-type: none;
width: auto;
float: right;
margin-right: 70px;
margin-top: 10px;
}


.navi{
width: auto;
height: auto;
padding: 0;
list-style-type: none;
display: block;
}

.button{
width: auto;
font-size: 17px;
margin-left: 20px;
padding: 3px 10px 2px 10px;
float: right;
color: #002952;
}

.button1{
width: auto;
font-size: 17px;
margin-left: 20px;
padding: 3px 10px 2px 10px;
float: right;
}

.navi li a{ 
text-decoration: none;
display: block;
color: #2B2B2B;
font-family: 'poiret one';
text-transform: uppercase;
font-weight: 400;
}